@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Use this class in your HTML element */
body {

    font-family: "DM Sans", sans-serif;
    /* font-weight:lighter; */
    /* font-style: normal; */
background-color: #000;
}

:root {
    --background: #000;
    --button: #222222;
    --hover:#3d3d3d;
    --text: #fff;
    --text2:#666565;
    --bg2:rgb(34, 34, 34);
    --primary:#6366F1;
    --Accent:#ae92d8;
  
  }

@media (max-width: 800px) {
  .img {
    display: none;
  }

  .main {
    flex-direction: column !important;
    width: 90vw !important;
    height: auto !important;
    padding: 1rem;
    border-radius: 20px;
  }

  .main > div {
    width: 100% !important;
    height: auto !important;
    margin: 0.5rem 0;
  }

  .main2 {
    padding: 1rem;
  }

  p {
    font-size: 3vw !important; /* Larger text for small screens */
  }
}

.home:hover .arrow {
  transform: translateX(-3px);
  transition: .4s;
}
.specififlink{
  transition: .4s;
}