@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */

/* Use this class in your HTML element */
body {

font-family: "DM Sans", sans-serif;
background-color: #000;
color: white;
}

:root {
    --background: #000;
    --button: #222222;
    --hover:#3d3d3d;
    --text: #e9e0e0;
    --text2:#666565;
    --bg2:rgb(26, 24, 24);
    --primary:#5227FF;
    --Accent:#ae92d8;
  
  }

@media (max-width: 800px) {
  .img {
    display: none;
  }

  .main {
    flex-direction: column !important;
    width: 90vw !important;
    height: auto !important;
    padding: 1rem;
    border-radius: 20px;
  }

  .main > div {
    width: 100% !important;
    height: auto !important;
    margin: 0.5rem 0;
  }

  .main2 {
    padding: 1rem;
  }

  p {
    font-size: 3vw !important; /* Larger text for small screens */
  }
}

.home:hover .arrow {
  transform: translateX(-3px);
  transition: .4s;
}
.specififlink{
  transition: .4s;
}

.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.text:hover .arrow2{
  transform: translateZ(10px);
}

.custom-dropdown .ant-dropdown-menu {
  background: #454545; /* semi-transparent black */
  color: #fff; /* white text */
  backdrop-filter: blur(8px) saturate(180%); /* glass effect */
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-dropdown .ant-dropdown-menu-item,
.custom-dropdown .ant-dropdown-menu-item > span,
.custom-dropdown .ant-dropdown-menu-item > div {
  color: #fff !important;
}

.custom-dropdown .ant-dropdown-menu-item:hover {
  background: rgba(255, 255, 255, 0.1);
}
.custom-dropdown .ant-dropdown-menu-item.logout-item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 4px;
  padding-top: 8px;
}
.custom-dropdown .ant-dropdown-menu-item.plan-item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 4px;
  padding-top: 8px;
}
.ant-modal-content{
  background-color: transparent !important;
}


.modal{
  z-index: 50;
}